@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body { margin: 0; padding: 0; font-family: 'Roboto', sans-serif; }
#map { position: absolute; top: 0; bottom: 0; width: 100%; }
.marker { display: block; border: none; border-radius: 50%; cursor: pointer; padding: 0; }
.logo { font-size: 26px; font-weight: bold; }
.links a { text-decoration: none; color: #fff; margin-left: 25px; font-weight: bold;  }
.footer { z-index: 1; position: relative; background: #161616; padding: 10px; text-align: center; }
.busMarker {  z-index: 0; color: #fff; text-align: center; width: 25px; height: 25px; font-weight: 600; }
.busMarker:before { content: ''; position: absolute; border-radius: 50% 50% 50% 0; -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -o-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); background-color: rebeccapurple; width: 25px; height: 25px; z-index: -1; left: 0; right: 0; margin: auto; top: -2px; }
.mapboxgl-ctrl-top-right { top: unset !important; bottom: 30px !important; }
.container { padding: 10px 20px; box-sizing: border-box; }
.header { z-index: 1; background: #161616; width: 100%; position: relative; padding: 20px 0; }
.hear-wrapper { display: flex; justify-content: space-between; color: #fff; align-items: center; }
.legends { display: none; position: relative; z-index: 1; background: #fff; border-radius: 21px; padding: 10px 20px; top: 0; max-width: 280px; margin-right: 0; width: 100%; margin-left: auto; right: 0; -ms-transform: scale(0.8, 0.8); -webkit-transform: scale(0.8, 0.8); transform: scale(0.8, 0.8); }
.legends ul { list-style: none; padding: 0; display: flex; justify-content: center; align-items: center; margin: 0; }
.legends ul li { flex: 1; padding: 8px 0; }
.legends ul li:last-child { border-radius: 41px; margin-left: 10px; }
#optionId { background-color: #161616; color: white; padding: 5px 0; width: auto; border: none; font-size: 14px; box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2); -webkit-appearance: button; appearance: button; outline: none; }
.ui-widget-header { border: 0; background: #525252; color: #ffffff; font-weight: normal; }
.ui-dialog { padding: 0; }
.ui-corner-all { border-radius: 0; }
.ui-widget-content { border: 0px solid #eeeeee; }
.pageloader {position: fixed;left: 0px;top: 0px;width: 100%;height: 100%;z-index: 9999;background: url('images/30.gif') 50% 50% no-repeat rgb(249, 249, 249);opacity: .8; }